<div class="wrapper">
    <mat-progress-bar mode="determinate" value="60" color="accent" class="progressbar"></mat-progress-bar>
    <mat-toolbar color="primary">
        <span>Liste des assignments</span>
    </mat-toolbar>
</div>
<button mat-raised-button (click)="onPopulate()">
    PopulateDB
</button>

<div class="content">
    <div fxLayout="row wrap" fxLayoutAlign="start start" fxLayoutGap="10px grid">
        <div fxFlex="auto" class="assignment-content">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" cdkDropList #assignmentList="cdkDropList" [cdkDropListData]="assignments" [cdkDropListConnectedTo]="[doneAssignmentList]" class="assignment-list">
                <div cdkDrag fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let assignment of assignments">
                    <mat-card class="mat-elevation-z5" class="assignment-block">
                        <mat-card-header>
                            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + assignment.cours.photoProf + ')'}"></div>
                            <mat-card-title>{{ assignment.nom }}</mat-card-title>
                            <mat-card-subtitle>{{ assignment.auteur }}</mat-card-subtitle>
                            <mat-card-subtitle>{{ assignment.dateDeRendu | date }}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-sm-image [src]="assignment.cours.photoMatiere">
                        <mat-card-content>
                            <p>Test</p>
                        </mat-card-content>
                        <mat-card-actions fxFlexAlign="end" align="end">
                            <button (click)="dispatchDialog()" mat-icon-button mat-icon-button #tooltip="matTooltip" matTooltipPosition="above" matTooltip="Modifier" matTooltipHideDelay="10">
                          <mat-icon>mode_edit</mat-icon>
                        </button>
                            <button mat-icon-button mat-icon-button #tooltip="matTooltip" matTooltipPosition="above" matTooltip="Supprimer" matTooltipHideDelay="10">
                          <mat-icon>delete</mat-icon>
                        </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <div fxFlex="auto" class="assignment-content content-left" cdkDropList #doneAssignmentList="cdkDropList" [cdkDropListData]="assignmentsRendus" [cdkDropListConnectedTo]="[assignmentList]" (cdkDropListDropped)="onDrop($event)">
            <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid" class="assignment-list">
                <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="33%" cdkDrag *ngFor="let assignment of assignmentsRendus">
                    <mat-card class="mat-elevation-z5" class="assignment-block">
                        <mat-card-header>
                            <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + assignment.cours.photoProf + ')'}"></div>
                            <mat-card-title>{{ assignment.nom }}</mat-card-title>
                            <mat-card-subtitle>{{ assignment.auteur }}</mat-card-subtitle>
                            <mat-card-subtitle>{{ assignment.dateDeRendu | date }}</mat-card-subtitle>
                        </mat-card-header>
                        <img mat-card-sm-image [src]="assignment.cours.photoMatiere">
                        <mat-card-content>
                            <p>Test</p>
                        </mat-card-content>
                        <mat-card-actions fxFlexAlign="end" align="end">
                            <button mat-icon-button #tooltip="matTooltip" matTooltipPosition="above" matTooltip="Modifier" matTooltipHideDelay="10">
                          <mat-icon>mode_edit</mat-icon>
                        </button>
                            <button mat-icon-button>
                          <mat-icon mat-icon-button #tooltip="matTooltip" matTooltipPosition="above" matTooltip="Supprimer" matTooltipHideDelay="10">delete</mat-icon>
                        </button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #notationDialogTemplate>
    <div class="container" novalidate>
        <form [formGroup]="formNotation" (ngSubmit)="submit()" class="form">
            <mat-form-field class="form-element">
                <mat-label>Note</mat-label>
                <input type="number" matInput formControlName="notation" name="notation">
            </mat-form-field>

            <mat-form-field class="form-element">
                <mat-label>Remarque</mat-label>
                <textarea matInput matTextareaAutosize matAutosizeMinRows="2" matAutosizeMaxRows="5" formControlName="remarque" name="remarque"></textarea>
            </mat-form-field>

            <div class="form-element">
                <button mat-raised-button type="submit" mat-flat-button [color]="primary" [disabled]="!formNotation.valid">
                    Modifier
                </button>
                <button mat-raised-button [color]="color" [disabled]="disabled" (click)="closeDialog()">
                    Annuler
                </button>
            </div>
        </form>
    </div>
</ng-template>