mat-toolbar {
    justify-content: space-between;
}

.content {
    padding: 16px 0;
}

.wrapper {
    position: relative;
}

.content>mat-card {
    margin-bottom: 16px;
}

.ajouterBtn {
    align-self: flex-end;
}

mat-card img {
    object-fit: cover;
    /*this makes the image in src fit to the size specified below*/
    width: 100%;
    /* Here you can use wherever you want to specify the width and also the height of the <img>*/
    height: 80%;
}

.mat-tab-label {
    font-size: 1rem !important;
}

.mat-card-title {
    font-size: 0.8rem !important;
}

.mat-card-content {
    font-size: 0.8rem !important;
    min-height: 30px;
}

.mat-card-add-button {
    border: 1px dashed grey;
    box-shadow: none !important;
    cursor: pointer;
}

.assignment-block {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    cursor: move;
}

.assignment-block:last-child {
    border: none;
}

mat-card::ng-deep.mat-card-header-text {
    width: 100%;
}

.assignment-content {
    width: calc(50% - 10px);
    border: 1px solid;
    display: inline-block !important;
    vertical-align: top;
}

.assignment-content:first-child {
    margin-right: 10px;
}

.assignment-content:last-child {
    margin-left: 10px;
}

.cdk-drag-preview {
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}

.cdk-drag-placeholder {
    opacity: 0;
}

.cdk-drag-animating {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.assignment-list.cdk-drop-list-dragging .movie-block:not(.cdk-drag-placeholder) {
    transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.content-left {
    min-height: 225px;
}

.form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.form-element {
    padding: 5px 0px 25px 2px;
    width: 100%;
}

.mat-progress-bar {
    position: absolute !important;
    bottom: 0 !important;
}


/* .active {
    max-height: 4px;
} */