<mat-toolbar color="primary">
  <span>Liste des assignments</span>
</mat-toolbar>
<div class="content">
  <div fxLayout="row wrap" fxLayoutAlign="start start">
    <div fxFlex="50">
      <div fxLayout="row wrap" fxLayoutAlign="start center" fxLayoutGap="15px grid">
        <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="33%" *ngFor="let a of assignments">
          <mat-card class="mat-elevation-z4">
              <mat-card-header>
                <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + a.cours.photoProf + ')'}"></div>
                <mat-card-title>{{ a.nom }}</mat-card-title>
              </mat-card-header>
              <img mat-card-sm-image [src]="a.cours.photoMatiere">
              <mat-card-content>
                <span> {{ a.nom }} </span>
              </mat-card-content>
              <mat-card-actions fxFlexAlign="end" align="end">
                <button mat-icon-button>
                  <mat-icon>mode_edit</mat-icon>
                </button>
                <button mat-icon-button>
                  <mat-icon>delete</mat-icon>
                </button>
              </mat-card-actions>  
          </mat-card>
        </div>
      </div>
    </div>
    <div fxFlex="50"></div>
  </div>
</div>