<mat-horizontal-stepper linear #stepper>
    <mat-step [stepControl]="firstFormGroup" [editable]="isEditable">
        <form [formGroup]="firstFormGroup" #formone="ngForm">
            <ng-template matStepLabel>Nom de l'assignment</ng-template>
            <mat-form-field>
                <mat-label>Nom</mat-label>
                <input matInput placeholder="Nom assignment" formControlName="name" name="name">
            </mat-form-field>
            <div>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="secondFormGroup" [editable]="isEditable">
        <form [formGroup]="secondFormGroup" #formone="ngForm">
            <ng-template matStepLabel>Date de rendu</ng-template>
            <mat-form-field>
                <mat-label>Choisissez une date</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date" name="date">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="thirdFormGroup" [editable]="isEditable">
        <form [formGroup]="thirdFormGroup" #formone="ngForm">
            <ng-template matStepLabel>Auteur</ng-template>
            <mat-form-field>
                <mat-label>Nom de l'auteur</mat-label>
                <input matInput placeholder="Nom" required formControlName="author" name="author">
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>
    <mat-step [stepControl]="fourthFormGroup" [editable]="isEditable">
        <form [formGroup]="fourthFormGroup" #formone="ngForm">
            <ng-template matStepLabel>Cours</ng-template>
            <mat-form-field appearance="fill">
                <mat-label>Cours</mat-label>
                <mat-select>
                    <mat-option *ngFor="let cour of cours" name="cours" [value]="cour._id">
                        {{ cour.nom }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <div>
                <button mat-button matStepperPrevious>Retour</button>
                <button mat-button matStepperNext>Suivant</button>
            </div>
        </form>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Fin</ng-template>
        <p>Assignment prêt.</p>
        <div>
            <button mat-button matStepperPrevious>Retour</button>
            <button mat-button (click)="stepper.reset()">Reinitialiser</button>
            <button mat-button (click)="onSubmit($event)">Ajouter</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>